<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <title>Vue.js elastic header example</title>
    <!-- Delete ".min" for console warnings in development -->
    <script src="../../dist/vue.js"></script>
    <script src="http://dynamicsjs.com/lib/dynamics.js"></script>
    <link rel="stylesheet" href="style.css" />
    <!-- template for the component -->
    <script type="text/x-template" id="header-view-template">
      <div>
        <button @click="handleChange">改变组建中的文本</button>

      </div>

        <!-- <div class="draggable-header-view"
          @mousedown="startDrag" @touchstart="startDrag"
          @mousemove="onDrag" @touchmove="onDrag"
          @mouseup="stopDrag" @touchend="stopDrag" @mouseleave="stopDrag">
          <svg class="bg" width="320" height="560">
            <path :d="headerPath" fill="#3F51B5"></path>
          </svg>
          <div class="header">
            <slot name="header"></slot>
          </div>
          <div class="content" :style="contentPosition">
            <slot name="content"></slot>
          </div>
        </div> -->
    </script>
  </head>
  <body>
    <div id="app">
      <button @click="handleClick">切换</button>
      <ul>
        <!-- <li v-for="(item,index) in arr" :key="index">{{item.text}}</li> -->
        <li v-for="(item) in arr">{{item.text}}</li>
      </ul>
      <!-- <keep-alive></keep-alive>
      <draggable-header-view v-if="visible" str="123"> -->
        <!-- <template slot="header">
          <h1>Elastic Draggable SVG Header</h1>
          <p>
            with <a href="https://vuejs.org">Vue.js</a> +
            <a href="http://dynamicsjs.com">dynamics.js</a>
          </p>
        </template>
        <template slot="content">
          <p>
            Note this is just an effect demo - there are of course many
            additional details if you want to use this in production, e.g.
            handling responsive sizes, reload threshold and content scrolling.
            Those are out of scope for this quick little hack. However, the idea
            is that you can hide them as internal details of a Vue.js component
            and expose a simple Web-Component-like interface.
          </p>
        </template> -->
      </draggable-header-view>
    </div>
    <!-- <script src="../../node_modules/vue-router/dist/vue-router.js"></script> -->
    <script>
      // Vue.component("draggable-header-view", {
      //   template: "#header-view-template",
      //   inject: ["foo"],
      //   provide: {
      //     bar: "abc",
      //   },
      //   props: {
      //     str: String,
      //   },
      //   data: function () {
      //     return {
      //       dragging: true,
      //       // quadratic bezier control point
      //       c: { x: 160, y: 160 },
      //       // record drag start point
      //       start: { x: 0, y: 0 },
      //       text: "hello",
      //       aa: 1,
      //       color: "#fff",
      //     };
      //   },
      //   beforeCreate() {
      //     // let p = document.querySelector("#text");
      //     // console.log(
      //     //   "beforeCreate",
      //     //   "获取的实例属性",
      //     //   this.dragging,
      //     //   "获取的dom节点",
      //     //   p
      //     // );
      //     let promise = new Promise((res) => {
      //       setTimeout(() => {
      //         res(111111);
      //       }, 10);
      //     });
      //     promise.then((res) => {
      //       this.$nextTick(() => {
      //         let p = document.querySelector("#text");
      //         console.log("******", p);
      //       });
      //       // console.log(res);
      //       // this.text = res;
      //     });
      //   },
      //   created() {
      //     // console.log(
      //     //   "created",
      //     //   "获取的实例属性",
      //     //   this.dragging,
      //     //   "获取的dom节点",
      //     //   p
      //     // );
      //   },
      //   beforeMount() {
      //     let p = document.querySelector("#text");
      //     console.log(
      //       "beforeMount",
      //       "获取的实例属性",
      //       this.dragging,
      //       "获取的dom节点",
      //       p
      //     );
      //   },
      //   mounted() {
      //     console.log("mounted", this);
      //     let p = document.querySelector("#text");
      //     console.log(
      //       "mounted",
      //       "获取的实例属性",
      //       this.dragging,
      //       "获取的dom节点",
      //       p
      //     );
      //   },
      //   beforeUpdate() {
      //     console.log("beforeUpdate", this.$el);
      //     // this.dragging=!this.dragging
      //     console.log("beforeUpdate", this.dragging);
      //     let p = document.querySelector("#text");
      //     console.log(
      //       "beforeUpdate",
      //       "获取的实例属性",
      //       this.dragging,
      //       "获取的dom节点",
      //       p
      //     );
      //   },
      //   updated() {
      //     // this.dragging=!this.dragging
      //     console.log("updated", this.$el);

      //     let p = document.querySelector("#text");
      //     console.log(
      //       "updated",
      //       "获取的实例属性",
      //       this.dragging,
      //       "获取的dom节点",
      //       p
      //     );
      //   },
      //   beforeDestroy() {
      //     let p = document.querySelector("#text");
      //     console.log(
      //       "beforeDestroy",
      //       "获取的实例属性",
      //       this.dragging,
      //       "获取的dom节点",
      //       p
      //     );
      //   },
      //   destroyed() {
      //     let p = document.querySelector("#text");
      //     console.log(
      //       "destroyed",
      //       "获取的实例属性",
      //       this.dragging,
      //       "获取的dom节点",
      //       p
      //     );
      //   },
      //   methods: {
      //     handleChange() {},
      //   },
      //   computed: {
      //     text1() {
      //       return this.text + "1";
      //     },
      //   },
      //   watch: {
      //     dragging: {
      //       handler() {
      //         console.log(111110);
      //       },
      //       immediate: true,
      //     },
      //   },
      //   // mounted() {
      //   //   this.$emit("a");
      //   // },
      //   // data: {
      //   //   dragging: false,
      //   //   // quadratic bezier control point
      //   //   c: { x: 160, y: 160 },
      //   //   // record drag start point
      //   //   start: { x: 0, y: 0 },
      //   // },
      //   // computed: {
      //   //   headerPath: function () {
      //   //     return (
      //   //       "M0,0 L320,0 320,160" + "Q" + this.c.x + "," + this.c.y + " 0,160"
      //   //     );
      //   //   },
      //   //   contentPosition: function () {
      //   //     var dy = this.c.y - 160;
      //   //     var dampen = dy > 0 ? 2 : 4;
      //   //     return {
      //   //       transform: "translate3d(0," + dy / dampen + "px,0)",
      //   //     };
      //   //   },
      //   // },
      //   // methods: {
      //   //   startDrag: function (e) {
      //   //     e = e.changedTouches ? e.changedTouches[0] : e;
      //   //     this.dragging = true;
      //   //     this.start.x = e.pageX;
      //   //     this.start.y = e.pageY;
      //   //   },
      //   //   onDrag: function (e) {
      //   //     e = e.changedTouches ? e.changedTouches[0] : e;
      //   //     if (this.dragging) {
      //   //       this.c.x = 160 + (e.pageX - this.start.x);
      //   //       // dampen vertical drag by a factor
      //   //       var dy = e.pageY - this.start.y;
      //   //       var dampen = dy > 0 ? 1.5 : 4;
      //   //       this.c.y = 160 + dy / dampen;
      //   //     }
      //   //   },
      //   //   stopDrag: function () {
      //   //     if (this.dragging) {
      //   //       this.dragging = false;
      //   //       dynamics.animate(
      //   //         this.c,
      //   //         {
      //   //           x: 160,
      //   //           y: 160,
      //   //         },
      //   //         {
      //   //           type: dynamics.spring,
      //   //           duration: 700,
      //   //           friction: 280,
      //   //         }
      //   //       );
      //   //     }
      //   //   },
      //   // },
      // });
      new Vue({
        el: "#app",
        data: {
          a: 1,
          visible: false,
          arr: [
            {
              text: "A",
            },
            {
              text: "B",
            },
            // {
            //   text: "C",
            // },
            {
              text: "D",
            },
          ],
        },
        provide: {
          foo: "bar",
        },
        methods: {
          handleClick() {
            this.arr = [
              {
                text: "A",
              },
              {
                text: "C",
              },

              {
                text: "B",
              },

              {
                text: "E",
              },
            ];
            // this.visible = !this.visible;
          },
        },
      });
      // Vue.use(VueRouter)
      let MyPlugin = {
        install(_Vue, str) {
          _Vue.prototype.say = () => {
            console.log(str);
          };
        },
      };
      Vue.use(MyPlugin, "hello");
    </script>
  </body>
</html>
